body {
  background-color: #02081a;
  color: white;
}

::selection {
  background: aqua;
  color: black;
}

/* a {
  color: blanchedalmond
} */

th {
  text-transform: uppercase;
}

a {
  color: green;
}

.top {
  background-color: #eb5406;
}

em {
  background-color: blue;
}

#the_most_important {
  text-transform: uppercase;
  background-color: gold;
}

h2 {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h2 + p::first-letter {
  initial-letter: 2;
}

tr:hover {
  background-color: gainsboro;
}

li {
  display: inline;
}

nav ul > :first-child a{
  text-decoration: underline;
}

li a {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: aliceblue;
  color: black;
}
tr:nth-child(odd) {
  background-color: grey;
}

a {
  cursor: pointer;
}

input {
  height: 20px;
  border-color: lightgray;
}

#name, #msg {
  height: 50px;
}